@{
 ViewData["Title"] = "Home Page";
}


<div 
    style="height: 35em; overflow: hidden; background-image: url('https://wallpaperaccess.com/full/211639.jpg');background-size: 100% 100%;">
      <h1 
    style="text-align: center; font-family:Arial; color: #FF4F4F; margin-top: 8%">Dobrodošli u BiH!
</h1>  
</div>


<h3 style="margin-top: 3%; text-align: center; color: #275F76">
    Upoznaj historiju, kulturu i tradiciju Bosne i Hercegovine
    <br /> na jednom mjestu. </br>
</h3>

<h4 
    style="margin-top: 1%; text-align: center; color: #275F76"> Pretražuj bez muke! 
</h4>

<div style="margin-top: 2%; color: darkgray; font-size: 1.5em; text-align: center">
     <b>
        Mjesta koja morate posjetiti!
     </b>
</div>

<body >
    <div id="wrapper">
        <div class="container" style="margin-top: 5%">
         <img class="image" src="https://img.atlasobscura.com/1AFfSqL98K0lY5Dd1-TSp-aIgbInF_XVdARZAQTWeEk/rs:fill:580:580:1/g:ce/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy8zMTIz/Mjg3MDA0XzllOTk0/MjNhY2RfYl8wLmpw/Zw.jpg" alt="Interpret1" width="218" height="250" href="boywonder.htm" style="border-radius: 35%">
         <img class="image" src="https://www.photohound.co/images/1001249m.jpg" alt="Interpret1" width="218" height="250" href="boywonder.htm" style="border-radius: 35%">
         <img class="image" src="https://investinherzegovina.files.wordpress.com/2015/02/blagaj-tekija.jpg" alt="Interpret1" width="350" height="250" href="boywonder.htm" style="border-radius: 35%">
         <img class="image" src="https://pozziz.com/wp-content/uploads/2021/05/IMG_20210515_080320_439_copy_1177x884.jpg" width="280" height="250" href="boywonder.htm" style="border-radius: 35%">
        </div>
    </div>
</body>


<body>
<center>
    <div 
        style="margin-top: 10%; color: darkgray; font-size: 2.5em; text-align: center; color: #275F76 ">
         <b>
            Golden Lilies Vam nudi
         </b>
    </div>
     

     <div 
        style="margin-top: 5%; color: darkgray; font-size: 2.5em; text-align: center; color: #275F76 ">
         <marquee 
            style="font-size:40pt; color: #FF4F4F" behavior="scroll" direction="left" scrollamount="10">
             <b>
             Upoznaj Bosnu i Hercegovinu
            </b>
         </marquee>

         <marquee 
            style="font-size:40pt; color: #275F76" behavior="scroll" direction="left" scrollamount="10">
             <b>
             Postani vodič
            </b>
         </marquee>

         <marquee 
            style="font-size:40pt; color: #29788a" behavior="scroll" direction="left" scrollamount="10">
             <b>
             Kreiraj svoj profil
            </b>
         </marquee>
    </div>
     
    
</center>
</body>

